body {
    font-family: montserrat;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.container {
    padding: 1rem 3rem;
    background-color: #424040;
    color: white;
}

/* .nav {
    display: flex;
    justify-content: space-between;

}

.nav__list {
    display: flex;
    list-style: none;
    margin: 0 10px;

}

.nav__item {
    text-decoration: none;
    color: white;
    margin: 0 10px;

}

.nav__item:hover {
    color: rgb(87, 245, 245);
}

@media screen and (max-width:600px) {
    .nav__list {
        flex-direction: column;
        background-color: #978c8c44;
        border-radius: 20px;
        padding: 0 32px;
        margin-left: 10px;
    }

    .nav__item {
        padding: 10px 0;

    }
} */

nav {
    background: #424040;
    height: 80px;
    width: 100%;
}

label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-decoration: none;
    /* text-transform: uppercase; */
}

a.active,
a:hover {
    color: rgb(87, 245, 245);
    transition: 0.5s;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #424242;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    a:hover,
    a.active {
        background: none;
        color: rgb(87, 245, 245);
    }

    #check:checked~ul {
        left: 0;
    }
}

.profile {
    display: flex;
    margin: 24px 0;
    justify-content: space-around;
}

.name {
    font-size: 20px;
    font-weight: 800;
}

.navbar-list-item {

    margin: 0 15px;
    font-weight: 600;

}

.navbar-list-item:hover {
    color: rgb(87, 245, 245);

}

.active {
    color: rgb(87, 245, 245);

}

.profile-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 6px;
}

.btn {
    padding: 8px 10px;
    border-radius: 20px;
    width: 150px;
    outline: none;
    border: 0;
    cursor: pointer;

}

.btn-primary {
    background-color: rgb(87, 245, 245);
    color: rgb(58, 58, 58);
    font-weight: bold;
}

.profile-image img {
    width: 80%;
}


@media screen and (max-width:700px) {
    .profile {
        flex-direction: column;
        align-items: center;
    }

    .profile-image img {
        margin-top: 15px;
    }
}

.about {
    background-color: #978c8c;
}

.services-heading {
    text-align: center;
    margin: 1rem;
}

.cards {
    display: flex;
    /* justify-content: space-around; */
    gap: 16px;
}




.card {
    padding: 12px 0;
    background-color: #978c8c;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    align-items: center;
    margin-bottom: 16px;
}

.card img {
    width: 10%;
    margin: 10px 0;
    display: flex;
    margin: auto;
}

.card-content {
    margin-top: 8px;
    align-items: center;
    text-align: center;
}

@media screen and (max-width:600px) {
    .cards {
        flex-direction: column;
        gap: 12px;
    }

    .card-content {
        padding: 0 12px;
    }

}

.form-heading {
    margin: 15px 0;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: grey;
}

.form-control-inputs {
    display: flex;
    justify-content: center;
    width: 55%;
}

@media screen and (max-width:620px) {
    .form-control-inputs {
        flex-direction: column;
    }

    .input-container input {
        width: 200px;
    }

    .message-textarea textarea {
        width: 200px;
    }
}

.input-container {
    width: 45%;
    margin: 0 15px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    background-color: #978c8c;
    color: #d1c9c9;
    margin: 5px 0;
    outline: none;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 8px;
}

::placeholder {
    color: #d1c9c9;
}

.message-textarea {
    padding: 8px;
    width: 51.5%;
}